# .gitattributes
*.sql linguist-detectable=true
*.sql linguist-language=SQL
*.sql -linguist-documentation
*.sql -linguist-vendored

*.yml linguist-language=YAML
*.yml linguist-detectable=true
*.yml -linguist-documentation
*.yml -linguist-vendored

*.yaml linguist-language=YAML
*.yaml linguist-detectable=true
*.yaml -linguist-documentation
*.yaml -linguist-vendored